HOST=localhost
PORT=3000
DB_USER=tufu
DB_HOST=localhost
DB_NAME=tufu_db
DB_PASSWORD=Master123
DB_PORT=5443
JWT_SECRET=e06ca0579971d02b8c9a28833bb84bdc5f309d9a383115b7f966781d64a211tufu
JWT_EXPIRES_IN=24h

GMAIL_USER=princetufu@gmail.com
GMAIL_PASS=rlnr vwtj dmmk vhyz #Sreng
OTP_SECRET=e06ca0579971d02b8c9a28833bb84bdc5f309d9a383115b7f966781d64a211princetufu
OTP_EXPIRY_MINUTES=1

NODE_ENV=production